<div>
    <h3> Form History </h3>
	<div class="l_main_area">
		<div class="l_row">
			<div class="l_column_thirds">
				<label for="formNum_formHist">Form Number</label>
				<input type="text" id="formNum_formHist" data-dojo-type="dijit/form/TextBox" />
				
				<label for="createdBy_formHist">Created By</label>
				<input type="text" id="createdBy_formHist" data-dojo-type="dijit/form/TextBox" />
				
				<label for="createdDate_formHist">Created Date</label>
				<input type="text" id="createdDate_formHist" data-dojo-type="dijit/form/TextBox" />
			</div>
			<div class="l_column_thirds">
			</div>
			<div class="l_column_thirds">
			</div>
			<div id="historyGridMsg_formHist"> </div>
			<div id="formHistGrid_formHist"  dojoType="dojox.grid.EnhancedGrid" style="height:300px;"></div>
			<br>
			<button id="back_formHist" type="button" data-dojo-type="dijit/form/Button">Done</button>
		</div>
	</div>
</div>