<div class="${baseClass}">
    <div class="l_footer c_footer">
        <div class="l_footer_left">
            <img src="/common/images/liberty_white.png">
        </div>
        <div class="l_footer_right">
            <p>&copy;<span data-dojo-attach-point="cur_year"></span> Liberty Mutual Insurance Company</p>
            <p>The information contained herein is considered proprietary and may contain trade secret or competitively sensitive information and therefore should not be disseminated outside Liberty Mutual Group.</p>
        </div>

    </div><!--l_footer-->
</div>