
<div>
	<!-- <div id="displayErrorMsg_formSearch"> </div>
	<div id="displayInfoMsg_formSearch"> </div>
	<div id="displayWarnMsg_formSearch"> </div> -->
    <h3>Form Search</h3>
	<div class = "crtOrViewModifyFormDiv">
		
		<div class="l_row_pad">
            <div id="packageFormSearch_formSearch"></div>
        </div>
		
		
		<div class="container">
			<h3>Form Search Results</h3>
            			<div id="formgrid_formSearch"  dojoType="dojox.grid.EnhancedGrid" data-dojo-props="
				plugins:{ exporter: true}"></div>
			<div>
            
				<button id="btnFormExport_formSearch" type="button" data-dojo-type="dijit/form/Button">Export Results</button>
				<button id="btnFormFullScreen_formSearch" type="button" data-dojo-type="dijit/form/Button">Full Screen</button>
			</div>
		</div>
		
</div>





